<!-- Component: Status -->
<!-- Type: code_block -->
<!-- Source: modules/components/avatar.html -->

<div class="avatar avatar-xl status-online  me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-xl status-offline  me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-xl status-away  me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-xl status-do-not-disturb  me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>