<!-- Component: Sizes -->
<!-- Type: code_block -->
<!-- Source: modules/components/avatar.html -->

<div class="avatar avatar-5xl avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-4xl avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-3xl avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-2xl avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-xl avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-l avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-m avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>
<div class="avatar avatar-s avatar-bordered me-4">
  <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
</div>