<!-- Component: Avatar Group -->
<!-- Type: code_block -->
<!-- Source: modules/components/avatar.html -->

<div class="avatar-group mb-4">
  <div class="avatar avatar-5xl ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-5xl ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-5xl ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-5xl ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-5xl ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-5xl ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-4xl ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-4xl ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-4xl ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-4xl ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-4xl ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-4xl ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-3xl ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-3xl ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-3xl ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-3xl ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-3xl ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-3xl ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group">
  <div class="avatar avatar-2xl ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-2xl ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-2xl ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-2xl ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-2xl ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-2xl ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-xl ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-xl ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-xl ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-xl ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-xl ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-xl ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-l ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-l ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-l ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-l ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-l ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-l ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-m ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-m ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-m ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-m ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-m ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-m ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>
<div class="avatar-group mb-4">
  <div class="avatar avatar-s ">
    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
  </div>
  <div class="avatar avatar-s ">
    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
  </div>
  <div class="avatar avatar-s ">
    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
  </div>
  <div class="avatar avatar-s ">
    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />
  </div>
  <div class="avatar avatar-s ">
    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />
  </div>
  <div class="avatar avatar-s ">
    <div class="avatar-name rounded-circle "><span>+3</span></div>
  </div>
</div>