<!-- Component: Phoenix Badge with icons -->
<!-- Type: code_block -->
<!-- Source: modules/components/badge.html -->

<span class="badge badge-phoenix fs-10 badge-phoenix-primary"><span class="badge-label">Primary</span><span class="ms-1" data-feather="package" style="height:12.8px;width:12.8px;"></span></span>
<span class="badge badge-phoenix fs-10 badge-phoenix-secondary"><span class="badge-label">Secondary</span><span class="ms-1" data-feather="plus" style="height:12.8px;width:12.8px;"></span></span>
<span class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="badge-label">Success</span><span class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span>
<span class="badge badge-phoenix fs-10 badge-phoenix-info"><span class="badge-label">Info</span><span class="ms-1" data-feather="info" style="height:12.8px;width:12.8px;"></span></span>
<span class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="badge-label">Warning</span><span class="ms-1" data-feather="alert-octagon" style="height:12.8px;width:12.8px;"></span></span>
<span class="badge badge-phoenix fs-10 badge-phoenix-danger"><span class="badge-label">Danger</span><span class="ms-1" data-feather="x" style="height:12.8px;width:12.8px;"></span></span>