<!-- Component: Card with list -->
<!-- Type: code_block -->
<!-- Source: modules/components/card.html -->

<div class="card p-3" style="max-width:20rem;">
  <a class="dropdown-item fw-bold text-warning" href="#!">
    <span class="fas fa-crown me-1"></span>
    <span>Go Pro</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#!">Set status</a>
  <a class="dropdown-item" href="#!">Profile & account</a>
  <a class="dropdown-item" href="#!">Feedback</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#!">Settings</a>
  <a class="dropdown-item" href="#!">Logout</a>
</div>