<!-- Component: Card Groups -->
<!-- Type: code_block -->
<!-- Source: modules/components/card.html -->

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/generic/54.png" alt="..." />
    <div class="card-body">
      <h4 class="card-title">First card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 45 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/img/generic/44.png" alt="..." />
    <div class="card-body">
      <h4 class="card-title">First card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 45 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/img/generic/46.png" alt="..." />
    <div class="card-body">
      <h4 class="card-title">First card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 45 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/img/generic/45.png" alt="..." />
    <div class="card-body">
      <h4 class="card-title">First card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 45 mins ago</small>
      </p>
    </div>
  </div>
</div>