<!-- Component: Card Background Styles -->
<!-- Type: code_block -->
<!-- Source: modules/components/card.html -->

<div class="row g-4">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h4 class="card-title text-white">Primary Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-white">Secondary Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h4 class="card-title text-white">Success Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body">
        <h4 class="card-title text-white">Danger Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-warning">
      <div class="card-body">
        <h4 class="card-title text-white">Warning Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h4 class="card-title text-white">Info Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-dark bg-light">
      <div class="card-body">
        <h4 class="card-title text-dark">Light Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h4 class="card-title text-white">Dark Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>