<!-- Component: Card Border Styles -->
<!-- Type: code_block -->
<!-- Source: modules/components/card.html -->

<div class="row g-4">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-primary">
      <div class="card-body">
        <h4 class="card-title">Primary Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-secondary">
      <div class="card-body">
        <h4 class="card-title">Secondary Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-success">
      <div class="card-body">
        <h4 class="card-title">Success Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-danger">
      <div class="card-body">
        <h4 class="card-title">Danger Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-warning">
      <div class="card-body">
        <h4 class="card-title">Warning Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-info">
      <div class="card-body">
        <h4 class="card-title">Info Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-light">
      <div class="card-body">
        <h4 class="card-title">Light Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card border border-dark">
      <div class="card-body">
        <h4 class="card-title">Dark Border Card </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>