<!-- Component: Active Item -->
<!-- Type: code_block -->
<!-- Source: modules/components/list-group.html -->

<div class="list-group"><a class="list-group-item list-group-item-action active" href="#!">News Feed</a>
  <a class="list-group-item list-group-item-action" href="#!">Messages</a>
  <a class="list-group-item list-group-item-action" href="#!">Events</a>
  <a class="list-group-item list-group-item-action" href="#!">Groups</a>
  <a class="list-group-item list-group-item-action disabled" href="#!">Pages</a>
</div>