<!-- Component: Alert Subtle Examples -->
<!-- Type: code_block -->
<!-- Source: modules/components/alerts.html -->

<div class="alert alert-subtle-primary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-subtle-secondary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-subtle-success" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-subtle-danger" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-subtle-warning" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-subtle-info" role="alert">A simple primary alert—check it out!</div>