<!-- Component: Alert Outline Examples -->
<!-- Type: code_block -->
<!-- Source: modules/components/alerts.html -->

<div class="alert alert-outline-primary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-outline-secondary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-outline-success" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-outline-danger" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-outline-warning" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-outline-info" role="alert">A simple primary alert—check it out!</div>