<!-- Component: Phoenix Alert Examples -->
<!-- Type: code_block -->
<!-- Source: modules/components/alerts.html -->

<div class="alert alert-phoenix-primary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-phoenix-secondary" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-phoenix-success" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-phoenix-danger" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-phoenix-warning" role="alert">A simple primary alert—check it out!</div>
<div class="alert alert-phoenix-info" role="alert">A simple primary alert—check it out!</div>