<!-- Component: Alerts with icon -->
<!-- Type: code_block -->
<!-- Source: modules/components/alerts.html -->

<div class="alert alert-outline-warning d-flex align-items-center" role="alert">
  <span class="fas fa-info-circle text-warning fs-5 me-3"></span>
  <p class="mb-0 flex-1">A simple primary alert—check it out!</p>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-outline-success d-flex align-items-center" role="alert">
  <span class="fas fa-check-circle text-success fs-5 me-3"></span>
  <p class="mb-0 flex-1">A simple primary alert—check it out!</p>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-outline-danger d-flex align-items-center" role="alert">
  <span class="fas fa-times-circle text-danger fs-5 me-3"></span>
  <p class="mb-0 flex-1">A simple danger alert—check it out!</p>
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>