<!-- Component: Filter Example -->
<!-- Type: code_block -->
<!-- Source: modules/tables/advance-tables.html -->

<div id="tableExample4" data-list='{"valueNames":["name","email","payment"],"page":5,"pagination":true,"filter":{"key":"payment"}}'>
  <div class="row justify-content-end g-0">
    <div class="col-auto px-3"><select class="form-select form-select-sm mb-3" data-list-filter="data-list-filter">
        <option selected="" value="">Select payment status</option>
        <option value="Pending">Pending</option>
        <option value="Success">Success</option>
        <option value="Blocked">Blocked</option>
      </select></div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm fs-9 mb-0">
      <thead>
        <tr class="bg-body-highlight">
          <th class="sort border-top border-translucent ps-3" data-sort="name">Customer</th>
          <th class="sort border-top border-translucent" data-sort="email">Email</th>
          <th class="sort border-top border-translucent text-end pe-3" data-sort="payment">Payment</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr>
          <td class="align-middle ps-3 name">Sylvia Plath</td>
          <td class="align-middle email">john@gmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="fw-bold">Success</span><span class="ms-1 fas fa-check"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Homer</td>
          <td class="align-middle email">sylvia@mail.ru</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="fw-bold">Pending</span><span class="ms-1 fas fa-stream"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Edgar Allan Poe</td>
          <td class="align-middle email">edgar@yahoo.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-secondary"><span class="fw-bold">Blocked</span><span class="ms-1 fas fa-ban"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">William Butler Yeats</td>
          <td class="align-middle email">william@gmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="fw-bold">Success</span><span class="ms-1 fas fa-check"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Rabindranath Tagore</td>
          <td class="align-middle email">tagore@twitter.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="fw-bold">Pending</span><span class="ms-1 fas fa-stream"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Emily Dickinson</td>
          <td class="align-middle email">emily@gmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-secondary"><span class="fw-bold">Blocked</span><span class="ms-1 fas fa-ban"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Giovanni Boccaccio</td>
          <td class="align-middle email">giovanni@outlook.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="fw-bold">Pending</span><span class="ms-1 fas fa-stream"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Oscar Wilde</td>
          <td class="align-middle email">oscar@hotmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="fw-bold">Success</span><span class="ms-1 fas fa-check"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">John Doe</td>
          <td class="align-middle email">doe@gmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="fw-bold">Success</span><span class="ms-1 fas fa-check"></span></div>
          </td>
        </tr>
        <tr>
          <td class="align-middle ps-3 name">Emma Watson</td>
          <td class="align-middle email">emma@gmail.com</td>
          <td class="align-middle payment text-end py-3 pe-3">
            <div class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="fw-bold">Pending</span><span class="ms-1 fas fa-stream"></span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-3"><span class="d-none d-sm-inline-block" data-list-info="data-list-info"></span>
    <div class="d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
      <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
    </div>
  </div>
</div>