<!-- Component: Ajax Table -->
<!-- Type: code_block -->
<!-- Source: modules/tables/advance-tables.html -->

<div class="table-list" id="advanceAjaxTable">
  <div class="table-responsive scrollbar mb-3">
    <table class="table table-sm fs-9 mb-0 overflow-hidden">
      <thead class="text-body">
        <tr>
          <th class="sort ps-3 pe-1 align-middle white-space-nowrap" data-sort="orderId" style="min-width: 4.5rem;">Order</th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="customer" style="min-width: 8.5rem">Customer</th>
          <th class="sort pe-1 align-middle white-space-nowrap pe-7" data-sort="date">Date</th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address" style="min-width: 12.5rem;">Ship To</th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="deliveryType" style="min-width: 7rem">Delivery Type</th>
          <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">Status</th>
          <th class="sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Amount</th>
          <th class="no-sort"></th>
        </tr>
      </thead>
      <tbody class="list"></tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center mt-3"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
    <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
  </div>
</div>
<div class="p-3">
  <h4 class="mb-3">How to use</h4>
  <p>If you are using Gulp based workflow, follow these easy steps:</p>
  <ul>
    <li>Give your table a unique ID.</li>
    <li>Use the <code>advanceAjaxTableInit() </code>function from <code>src/js/theme/advance-ajax-table.js </code>in a new JS file and update the ID.</li>
    <li>Import and invoke the function in your script file.</li>
  </ul>
  <p>If you are not using Gulp based workflow:</p>
  <ul>
    <li>Give your table a unique ID.</li>
    <li>Find the <code>advanceAjaxTableInit() </code>function from <code>public/assets/js/pages/advance-ajax-table.js, </code>copy the code, and update the ID in a new function.</li>
  </ul>
</div>